- content_for :title do
  Update 
  = @enrollment
  \|
  Skill Up

.container.py-3
  = link_to  courses_path(@course), class:"btn btn-dark btn-sm mb-3" do 
    .fa.fa-arrow-left 
    Back to courses

  .card 
    .card-header 
      %span.h4 Post You Rating
    .card.body.px-3.py-3 
      = render 'form'
   