- content_for :title do
  New Enrollment
  \|
  Skill Up

= link_to  course_path(@course), class:"btn btn-dark btn-sm mb-3" do 
.card 
  .card-header 
    %span.h4 Post You Rating
  .card.body 
    = render 'form'
  .card-footer 







