- content_for :title do
  New Course
  \|
  Skill Up

.container.py-3
  = link_to  courses_path, class:"btn btn-dark btn-sm mb-3" do 
    .fa.fa-arrow-left 
    Back to courses
  .card
    .card-header
      %h4 Add New course
    .card-body 
      = render 'form'

 
